// Place all the styles related to the Ems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.head {
    text-align: center;
}

table {
    margin-left: 450px;
    margin-top: 50px;
}